/* looks for an id of inputs */
#inputs {
    color: red;
}

/* selects any heading */
h1, h2, h3 ,h4, h5, h6 {
    color: purple;
}

/* a that is a sibling of an h2 */
h2 ~ a {
    color: orange;
}

/* a that is an adjacent sibling of an h2 */
h2 + a {
    color: turquoise;
}


/* p anywhere inside a div */
div p {
    color: green;
}

/* p that's directly under a div */
div > p {
    color: pink;
}

/* looks for h2's with a class of subheading */
h2.subheading {
    color: yellow;
}

a:visited {
    color: red;
}

a:hover {
    color:black; 
}

/* first item of an unordered list*/
ul > li
:first-child {
    color: green;
}

/* excluding first item of an unordered list */
ul > li
:not(first-child) {
    color: yellow;
}

ul > li
:last-child {
    color: red;
}

ol > li:nth-child(even) {
    color: red;
}

ol > li:nth-child(odd) {
    color: blue;
}

/* 2n = 2, 4, 6, 8, etc */
ol > li:nth-child(2n) {
    color: red;
}

/* first p element */
p:first-of-type {
    text-decoration: underline;
}

p:last-of-type {
    font-style: italic;
}

